:root {
    --main-boardcolor: #13857E;
    --statuscolor: #D7DBDB;
    --button-bg-hover: #BD4F46;
}
body {
    width: 100%;
    font-family: "Arial";
    height: 100%;
    margin:0px;
    background: url("../background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}

.header {
    padding: 30px;
}

#boards {

}

.board {
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    background-color: var(--main-boardcolor);
}

.status {
    background-color: var(--statuscolor);
    border-radius: 5px;
    border: 0.5px solid black;
}
.draggable{
    min-height: 20px;
    padding: 10px;

}

.draggable div {
    border: 1px solid black;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.draggable div:hover {
    border-color: white;
    color: white;
}


.btn {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 10px;
    alignment: center;
}

.btn:hover {
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
}

input {
    border-radius: 5px;
    max-height: 40px;
}

board .row > div:nth-of-type(1) {
    background-color: red;
}