body {
    background-color: #80bdff;
}

.header {
    padding: 30px;
}

#boards {
}

.board {
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
}

.status {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 1px solid black;
}
.draggable{
    min-height: 50%;
}

.btn {
    background-color: antiquewhite;
    color: black;
    border-color: black;
    border-radius: 10px;
    alignment: center;
}

#createBoard {
    border-radius: 10px;
}