
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWAPI|Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_page.css') }}">
    <script src = '/static/js/modalscript.js' defer></script>
</head>
<body>

<div class = 'center_me'>
    <h1>PRObjects PROMan</h1>
    <button onclick="document.getElementById('id01').style.display='block'">Login/Register</button>
</div>

<div id="id01" class="modal">
    <form class="modal-content animate" action="/verification" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="static/pics/modalpicture.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <button type="submit" formaction="{{url_for('register_user')}}">Register</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>
</body>
</html>
